:root {
	--white: #fff;
	--gold: #E0B973;
	--blue-primary: #14274A;
	--blue: #2A4C8B;
	--light-blue: #4169A4;
	--button-blue: #009DF5;
	--bg-nav: rgb(108,170,220);
	--grey: #B7BFBF; 
	--light-grey: #D9D9D9;
	--light-grey2: #F0F3FA;
	--light-grey3: #eef0f4;
}
* {
	box-sizing: border-box;
}

@font-face {
	font-family: Fenix;
	src: url(./public/fonts/Fenix/Fenix-Regular.ttf);
 }

 @font-face {
	font-family: Finger_Paint;
	src: url(./public/fonts/Finger_Paint/FingerPaint-Regular.ttf);
}
  
@font-face {
	 font-family: Montserrat;
	 src: url(./public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
	}	
	

html {
	font-size: 10px;
	scroll-behavior: smooth;
}
h1 {
	font-family: Montserrat;
}

body {
	background-color: var(--white);
	color: var(--white);
}

u {
	text-decoration: none;
}

.container-fluid {
	padding: 0;
}
.a {
	position: relative;
}
/* Loader */
.loaderContent {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	z-index: 5;
	/* transition: opacity, visibility; */
}

.loader--hidden {
	opacity: 0;
	visibility: hidden;
}


/*-------------------------- */
/* Navigation */
.navigation {
	z-index: 10;
	position: fixed;
	width: 100%;
	background: var(--bg-nav);
	top: 0;
	right: 0;
}

.logo {
	height: 80px;
	width: 200px;
	background-color: var(--blue-primary);
	border-radius: 0px 0px 30px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentLogo {
	text-align: center;
}
.logoText {
	color: var(--gold);
	font-size: 2rem;
	font-family: Fenix;
}

.subLogoText {
	color: var(--gold);
	font-size: 1.2rem;
	font-family: Finger_Paint;
	font-weight: 100;
}

.nav-item {
	padding: 1rem 1.4rem;
	margin: 12px 0;
}

.nav-link {
	color: var(--white);
	font-family: Montserrat;
	font-size: 1.4rem;
	font-weight: 500;
}

.nav-link:hover {
	color: var(--gold);
	font-weight: bold;
}

.signIn {
	background-color: var(--blue-primary);
	padding: 5px 10px;
	border-radius: 18px;
}

.btnSignOut {
	color: rgb(219, 42, 42) !important;
	
}

.navbarToggler {
	width: fit-content;
	padding: 0;
	outline: none;
	border: none;
}
/* button.navbar-toggler.pr-5.navbarToggler {
    margin-left: 70%;
} */

/* ------------------ */
/* --------------------------------------------------HOME------------------------------------------------- */
/* Background Image */
.background_frame {
	height: 100vh;
	font-family: Montserrat;
	position: relative;
}


.img_background {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	
}

.greeting {
	position: absolute;
	margin-left: 6rem;
	top: 30vh;
	left: 4rem;
	text-shadow: 0 0 60px var(--blue-primary);
}
.greeting_h3 {
	font-size: 2.6rem;
}

.greeting_logo {
	font-size: 7rem;
	color: var(--gold);
	font-weight: 600;
}

.greeting_subLogo {
	font-size: 4rem;
	color: var(--gold);
	font-weight: 600;
}

.greeting_p {
	font-size: 1.4rem;
	font-weight: 600;
}


.btnBookNow {
	position: absolute;
	bottom: 0;
	left: calc(50vw - 10rem);
}

.bookNow {
	height: 4rem;
	width: 20rem;
	color: var(--gold);
	font-weight: 800;
	background-color: var(--blue-primary);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.bookNow:hover {
	border: 1px solid #fff;
}

.arrowBottomBookNow {
	text-align: center;
	cursor: pointer;
	animation-name: slide-up-down;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition: 2s linear;
}

.arrowBottomBookNow svg:hover{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: 1px solid #fff;
}
/* ------------------ */
/* Body */
.main {
	font-family: Montserrat;
	margin-bottom: 8rem;
}

.main_card {
	width: 60vw;
	height: fit-content;
	padding: 4rem 0;
}

.card1 {
	opacity: 0;
	margin-top: 5rem;
	margin-bottom: 15rem;
}

.card2 {
	margin-bottom: 10rem;
	opacity: 0;
}

.card1-animation {
	animation-name: slide-in-right;
	animation-duration: 2s;
	opacity: 1;
}

.card2-animation {
	animation-name: slide-in-left;
	animation-duration: 2s;
	opacity: 1;
}

.main_card_content1 {
	width: 24rem;
}

#index {
	height: 3rem;
}

.jumbotron {
	color: var(--blue-primary);
	font-weight: 600;
	margin: 5rem 0;
}

.wrapContentCard {
	border-left: 1.5px solid var(--blue-primary);
	padding-left: 2rem;
}

.titleCard {
	font-size: 2.6rem;
	font-weight: 600;
	font-family: Fenix;
}

.contentCard {
	margin-top: 1rem;
	font-size: 1.3rem;
}

.main_card_content1  {
	color: var(--blue-primary);
	display: flex;
	align-items: center;
	font-weight: 600;
}

.main_card_content2 {
	padding-left: 6rem;
	width: 40rem;
}

.btnExplore {
	margin-top: 2rem;
	color: var(--blue-primary);
	background-color: var(--gold);
	/* font-family: Montserrat; */
	font-size: 1.4rem;
	font-weight: 900;
	height: 4rem ;
	width: 16rem;
	text-align: center;
	padding: 8px 0;
	border-radius: 5px;
	cursor: pointer;
}
/* ------------------ */
/* Footer */
.footer {
	padding: 4rem 4rem;
	background-color: var(--blue-primary);
	font-weight: 600;
	font-size: 1.2rem;
	font-family: Montserrat;
}

.footer li {
	list-style: none;
}
.footerLogo{
	text-align: center;
}

.footerLogo h4, h5 {
	color: var(--gold);
	font-weight: 400;
}

.footerLogo_logoText {
	font-family: Fenix;
	font-size: 1.8rem;
}

.footerLogo_subLogoText {
	font-family: Finger_Paint;
	font-size: 1rem;
}

.contact {
	padding-top: 1rem;
	padding-left: 5rem;
	font-weight: 300;
}

.footerElement li {
	line-height: 3rem;
}

.fa {
	font-size: 1.6rem;
	margin-right: 2rem;
}

.footerInputLabel {
	font-weight: 900;
}

.inputEmail{
	border: 2px solid var(--gold);
	border-radius: 3px;
	width: fit-content;
}

.footerInput{
	padding-left: 1rem;
	outline: none;
	border: none;
	background-color: var(--blue-primary);
	color: var(--white);
}

.footerInput::placeholder {
	color: var(--white);
	font-weight: 800;
}

.btnInputEmail {
	background-color: var(--gold);
	padding: 8px 12px;
	cursor: pointer;
}
/* ---------------------------------------BOOKING---------------------------------------------- */
.background_frame_booking {
	height: 80vh;
}

.booking_header {
	height: 70vh;
	width: 100%;
	background-color: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.booking_header_title{
	font-size: 5rem;
	font-weight: 900;
	margin-right: 0rem;
	user-select: none;
	animation-duration: 2s;

}

.car_trip {
	animation: moving;
	animation-duration: 1s;
}

@keyframes moving {
	from {transform: translateX(-560px);}
  	to {transform: translateX(0px);}
}


.basic_filter {
	position: absolute;
	bottom: 20px;
	left: calc(50%-450px);
	height: fit-content;
	width: fit-content;
	background-color: rgba(217, 217, 217, 0.5);
	padding: 30px 40px;
	display: flex;
	align-items: center;
}

.basic_filter_item {
	border-radius: 10px;
	height: 50px;
	width: fit-content;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	user-select: none;
	cursor: pointer;
}

.basic_filter_location {
	width: fit-content;
	height: fit-content;
	font-size: 14px;
	outline: none;
	border: none;
	min-width: 100px;
}

.input_location {
	outline: none;
	border: none;
	width: 125px;
}

.location_dropdown {
	padding: 10px 30px 10px 10px;
	font-size: 16px;
	height: 150px;
	overflow-y: auto;
}

.basic_filter .dropdown-toggle::after { 
	content: none; 
}

.date_from, .date_to {
	border: none;
	outline: none;
	user-select: none;
	display: flex;
	flex-direction: row-reverse;
	font-size: 14px;
}

.basic_filter2 {
	border-radius: 10px 0 0 10px;
}

.basic_filter3 {
	border-radius: 0 10px 10px 0;
	border-left: 1px solid black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 20px;
	margin-right: 5px;
}

.wrap_basic_filter4 {
	position: relative;
}

.basic_filter4 {
	font-size: 14px;
	position: relative;
	width: 220px;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	border-bottom: 10px solid var(--white);
	top: -8%;
	left: 30%;
  }

.controller_person {
	display: none;
	height: fit-content;
	width: 250px;
	background-color: var(--white);
	position: absolute;
	top: 120%;
	left: 0;
	padding: 20px 40px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-size: 14px;
	user-select: none;
	z-index: 1;
}

.controller_person button {
	font-size: 15px;
}

.controller_person span {
	min-width: 100px;
}


.controller_person_input {
	width: 20px;
	text-align: center;
	outline: none;
	border: none;
	border-radius: 2px;
}

.basic_filter_search {
	cursor: pointer;
}

/* -----------CONTENT BOOKING----------- */
.wrapper_content_booking1, .wrapper_content_booking2 {
	height: fit-content;
	margin-bottom: 50px;
}

.greyLine {
	height: 1px;
	width: 100%;
	background-color: var(--light-grey);
	margin: 5px 0;
}

.skeleton {
	opacity: .7;
	animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
	width: 100%;
	max-height: .5rem;
	margin-bottom: .25rem;
	border-radius: .125rem;
}

.subFilter {
	margin: 0 50px;
	background-color: var(--light-grey3);
	width: 80%;
	height: fit-content;
	color: black;
	font-size: 15px;
	font-family: Montserrat;
	padding-bottom: 30px;
}

.subFilter-item {
	margin: 0 20px;
	height: fit-content;
	padding: 20px;
}

.subFilter-item1 p {
	padding: 5px;
	background-color: var(--white);
	border-radius: 5px;
	min-width: 100px;
	text-align: center;
}

.colorStar {
	color: gold;
	font-size: 18px;
}
/* --------- */

.listSort .list-group-item{
	height: inherit;
	font-size: 15px;
	min-width: calc(100%/6);
	font-family: Montserrat;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}

.btnSubmitSort {
	outline: none;
	border: none;
	background-color: transparent;

}

.listSort .list-group-item form {
	margin-bottom: 0;
}

.sortActive {
	background-color: var(--button-blue);
	color: var(--white);
}

.listSort .list-group-item:hover {
	background-color: var(--button-blue);
	color: var(--white);
	opacity: 50%;
}
.wrap_listRoom {
	position: relative;
	width: 100%;
}

.listRoom-item {
	margin-top: 30px;
	height: fit-content;
	width: 100%;
	background-color: var(--white);
	border-radius: 10px;
	padding: 30px 30px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imgCardRoom {
	border-radius: 15px;
	width: 350px;
	height: 230px;
}

.contentCardRoom {
	border-left: 1px solid black;
	padding-left: 20px;
	margin-left: 20px;
	width: 100%;
}

.titleCardRoom {
	font-weight: 900;
	width: fit-content;
}

.starRates .list-group-item {
	font-size: 22px;
	color: gold;
}

.numberPerson {
	font-size: 15px;
}

.price {
	font-family: Montserrat;
	font-weight: bolder;
	font-size: 20px;
}

.originPrice {
	font-size: 0.8em;
	text-decoration: line-through;
	color: grey;
}

.discountPrice {
	font-size: 1.2em;
	color: red;
}

.convenientRoom_content {
	font-size: 1.4em;
}

.btnMoreService {
	font-size: 15px;
	text-decoration: none;
	
}

.listServiceRoom {
	flex-wrap: wrap;
}

.listServiceRoom li {
	margin: 10px 10px 0 0;
	font-size: 14px;
}

#listServiceRoom {
	width: 70%;
}

.btnBookRoom {
	display: flex;
	flex-direction: row-reverse;
}

.btnBookRoom button {
	padding: 10px 40px;
	font-size: 16px;
	font-weight: 700;
	background: var(--button-blue);
	color: var(--white);
}
.btnBookRoom button:hover {
	background: var(--button-blue);
	color: var(--white);
	opacity: .5;
}

.moveToTop {
	position: fixed;
	z-index: 10;
	right: 15px;
	bottom: 15px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: var(--button-blue);
	box-sizing: border-box;
	border: none;
	font-size: 20px;
	color: var(--white);
}

/* ---------------------------------------DETAIL---------------------------------------------- */
.wrapper_detail {
	margin-top: 80px;
	margin-bottom: 100px;
	height:fit-content;
	padding: 25px 100px;
	color: black;
}

.carousel-inner {
	border-radius: 10px;
}

.subCarousel {
	position: relative;
	height: fit-content;
	display: flex;
	margin-top: 40px;
	align-items: center;
}

.subCarousel .carousel-indicators button {
	width: 100px !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: var(--blue);
	height: 30px;
	width: 30px;
	margin-top: 20px;
	border-radius: 50%;
}

.wrapContent2 {
	font-size: 13px;
	padding: 0 0 0 50px;
}

.detail_TitleRoom {
	font-size: 30px;
	font-weight: 900;
}

.detail_price {
	font-size: 2.5em;
	display: flex;
	justify-content: flex-end;
}

.sloganBook {
	margin: 100px 0;
}

.wrapContent3, .guestInformation {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 18px;
	padding: 30px 50px;
}

.wrapContent3 label, .guestInformation label {
	min-width: 120px;
}

.wrapContent3 input[type="text"], .guestInformation input[type="text"] {
	border: none;
	outline: none;
	border-radius: 0;
	font-size: 15px;
	border-bottom: 1px dotted rgb(0, 0, 0);
}

.btnBookStep1 {
	border: 1px solid grey;
	font-size: 16px;
	padding: 10px 40px;
	margin: 0 auto;
	width: inherit;
	transition: width 1s linear;
	font-weight: 500;
	position: relative;
}

.btnBookStep1:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background-color: var(--button-blue);
	transition: width .5s ease-in-out;
	z-index: -1;
	top: 0;
	left: 0;
	border-radius: 3px;
}

.btnBookStep1:hover {
	color: var(--white);
	
}

.btnBookStep1:hover::before {
	width: 100%;
	background-color: var(--button-blue);
}

.wrapContent4 {
	font-size: 15px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tempBill {
	padding: 20px 40px;
	height: fit-content;
	border-radius: 5px;
}

.tempBill_date {
	margin-top: 10px;
	margin-bottom: 20px;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.tempBill_member {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	margin-bottom: 20px;
}

.tempBill_member input {
	width: 40px;
	border: none;
	border-bottom: 1px dashed black;
	outline: none;
}

.extraServiceTitle {
	margin: 0;
	width: fit-content;
	padding: 2px 5px;
	border-radius: 5px 5px 0 0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.contentExtraService {
	height: 100px;
	margin: 0;
	font-size: 14px;
	padding: 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.colorRed {
	color: red;
}

.total .finalTotal {
	color: red;
	font-size: 35px;
	font-weight: 700;
}

.process-main {
	position: relative;
}

.process-wrap {
	margin: 50px 0;
}

.process-step-cont {
	display: flex;
	justify-content: center;
}

.process-step {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	margin-bottom: 15px;
	background-color: var(--light-grey);
	font-size: 15px;
	font-weight: bold;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid var(--light-grey3);
	z-index: 2;
}

.activeProcessStep {
	background-color: #f89828 !important;
}

.process-bar {
	height: 10px;
	width: 90%;
	background-color: var(--light-grey3);
	position: absolute;
	z-index: -1;
	left: 56%;
	top: 24%;
}

.process-label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}

.wrapComment {
	margin-top: 10%;
	height: fit-content;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 10px;
	padding: 20px;
}

.wrapComment h1 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.comment {
	height: fit-content;
	padding: 20px;
}

.avatarComment img{
	height: 40px;
	width: 40px;
	background-color: var(--light-grey);
	border-radius: 50%;
	object-fit: cover;
}

.nameComment {
	font-size: 16px;
	font-weight: 600;
}

.dateComment {
	font-size: 12px;
}

.contentComment {
	margin-top: 5px;
	font-size: 17px;
	padding: 10px;
	height: 120px;
	overflow-y: auto;
}

/* -----------------------------------------CONFIRMATION------------------------------------------ */
.guestInformation {
	padding: 50px 80px;
	margin: 50px 100px;
	border-radius: 10px;
}

.roomInformation label {
	min-width: 120px;
	margin-bottom: 0;
}

.roomInformation, .bill {
	padding: 50px 80px;
	margin: 50px 100px;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 18px;
}

.formVISA {
	padding: 20px 50px;
}

.formVISA input{
	border: none;
	border-radius: 0;
	outline: none;
	font-size: 18px;
	border-bottom: 1px solid black;
}

.btnConfirmation {
	margin: 50px 100px;
	text-align: center;
}
/* ---------------------------------------SIGN IN---------------------------------------------- */
.background_frame_2nd {
	height: fit-content;
	font-family: Montserrat;
	position: relative;
	background-color: var(--light-blue)
}

.color_background {
	width: 100%;
	height: 16rem;
	background-color: var(--light-blue);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.title_function {
	font-size: 4rem;
	font-weight: bolder;
}

.main_signIn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;
}

.wrapper_form {
	display: block;
	width: 25rem;	
}

.bg_signIn {
	width: 451px;
	height: 361px;
}

.bg_signIn img {
	object-fit: cover;
}

.form_signIn {
	margin: 3rem 0;
	padding: 4rem 10rem;
	border: 1px solid black;
	border-radius: 10px;
	background-color: var(--white);
}

.notify {
	position: fixed;
	z-index: 2;
	height: fit-content;
	width: fit-content;
	min-width: 300px;
	bottom: 5%;
	right: 2%;
	border-radius: 5px;
	padding: 10px 40px;
	text-align: center;
	font-size: 15px;
	user-select: none;
	display: none;
	font-family: Montserrat;
}

.notify--error {
	background-color: rgba(255, 0, 0, 1) !important;
}

.notify--success {
	background-color: #198754 !important;
}

.email, .pwd {
	width: 25rem;
	height: 3rem;
	padding: 15px 10px;
	border-radius: 5px;
	border: .5px solid var(--grey);
	font-size: 1.5rem;
}

.email:focus, .pwd:focus {
	outline: 2px solid var(--gold);
}

.email::placeholder, .pwd::placeholder {
	color: var(--grey);
}

.btnSubmit {
	padding: 0.8rem 3.5rem;
	background-color: var(--gold);
	font-weight: 700;
	margin: 0 30%;
}

.btnSubmit:hover {
	background-color: var(--blue);
}

.signed-in {
	border-radius: 50%;
	padding: 8px;
}

.dropdown {
	position: relative;
	display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: var(--blue-primary);
border-radius: 10px;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 14px 15px;
z-index: 1;
right: 0;
top: 25px;
}

.dropdown-content ul {
	list-style: none;
}

.dropdown-content ul li {
	margin: 5px 0;
}

.dropdown-content ul li a {
	color: var(--gold);
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
display: block;
}

.user_dropdown {
	font-size: 15px;
}
/* ---------------------------------------------SIGN UP-------------------------------------------- */
.inputSignup {
	font-size: 15px;
}


.form_signUp {
	font-size: 16px;
	padding: 4rem 8rem;
	margin-top: 1rem;
}

.wrapper_formSignUp {
	display: block;
	width: 35rem;	
}

.wrapper_formSignUp label {
	min-width: 130px;
	margin-bottom: 0;
}

.btnSignUp {
	width: inherit;
	border: none;
	margin-top: 10px;
	border-radius: 5px;
	padding: 8px 0;
	font-size: 13px;
}

.btnSignUpColor {
	background-color: var(--gold);
	color: var(--white);
}

.btnSignUp:hover {
	color: var(--white);
	background-color: var(--light-blue);
}
/* ----------------------------------------------PROFILE--------------------------------------------------------- */
.frame_profile, .frame_history {
	margin-top: 80px;
	background-color: var(--light-blue);
	width: 100%;
	height: fit-content;
	padding: 50px 100px;
}

.frame_history {
	height: 100vh;
}

.wrap_avatar {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-primary);
}

.title_profile {
	font-weight: 900;
	margin-bottom: 20px;
}

.profile_customer {
	width: 80%;
	color: black;
	font-size: 15px;
	height: fit-content;
	font-weight: 400;
	padding: 40px 80px;
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile_customer input {
	font-size: 14px;
}

.btnUpdatePass {
	background-color: var(--gold);
	color: var(--white);
}

.btnUpdatePass:hover {
	background-color: var(--button-blue);
	color: var(--white);
}

/* ----------------------------------------------MANAGEMENT--------------------------------------------------------- */
/* .main_management {
	height: 50rem;
} */

.color_background_manage {
	height: 8rem;
}

.frame_logo {
	padding: 20px 0;
	background-color: var(--blue-primary);
}

.sidebar_management {
	background-color: var(--light-grey);
	height: 60rem;

}

.sidebar_management li {
	background-color: var(--light-grey);
	cursor: pointer;
	user-select: none;
}

.sidebar_management .container_list {
	background-color: var(--light-grey);
	color: black;
	padding: 10px 0px 10px 20px;
	font-family: Fenix;
	font-size: 18px;
}

.sidebar_management li:hover {
	background-color: var(--gold);
	cursor: pointer;
}


.sidebar_management hr {
	height: 2px;
}


.list_management .fa-angle-down {
	transform: rotate(-90deg);
	transition: all .2s linear;

}

.list_management span{
	width: 200px;
	height: inherit;
}

.list_table {
	margin: 0 0 10px 0px !important;
}

.list_table li {
	list-style: none;
	padding: 5px 0 0 20px;
	width: 100%;
}

.closeSideBar {
	width: fit-content;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.btnCloseSideBar {
	margin-right: 10px;
	cursor: pointer;
}

.openSideBar {
	background-color: var(--grey);
	padding: 10px 15px;
	border-radius: 0 10px 10px 0;
	height: fit-content;
	cursor: pointer;
}

.bi-pencil-square, .bi-trash {
	cursor: pointer;
}
.bi-pencil-square {
	color: var(--blue-primary);
}
.bi-trash {
	color: rgb(255, 0, 0);
}

.wrap_table {
	border: 1px solid var(--blue-primary);
	border-radius: 10px;
}

.tab-content {
	position: relative;
}



.formModal label{
	font-size: 20px;
	width: 150px;
	color: black;
}

.formModal input{
	width: 50%;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 25px;
}

/* -------------------------------------LAYOUT2------------------------------------------------- */
.nav_layout2 {
	height: 90px;
	background-color: var(--blue-primary);
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 9rem;
	border-bottom: .5px solid #fff !important;
}

.management_body1 {
	height: 100vh;
	background-color: var(--blue-primary);
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.table-group .list-group-item {
	background-color: var(--blue-primary);
	padding: 12px 0;
	padding-left: 6rem;
	display: flex;
	align-items: center;
	border-bottom: .05px solid #fff !important;
}

.table-group .list-group-item:hover {
	background-color: var(--gold);
}

.table-group a {
	text-decoration: none;
	color: var(--white);
}

.table_item_text  {
	font-size: 16px;
}


.management_body2 {
	background-color: var(--light-grey2);
}


/* --------------------------------------TABLE-ROOMS------------------------------------------ */

.background_table {
	margin: 4rem;
	background-color: var(--white);
	height: fit-content;
	border-radius: 10px;
	padding: 2rem 3rem;
}
.header_table h1 {
	font-weight: 900;
}

.add_Room button {
	font-weight: 700;
	padding: 0.5rem 2.5rem;
	font-family: Montserrat;
}

.modal {
	font-size: 16px !important;
}

.modal-title {
	font-size: 22px !important;
}

.close {
	font-size: 3rem !important;
	outline: none !important;
}

.filter_table {
	border-radius: 5px;
	height: fit-content;
}

.search_table {
	width: 200px;
	outline: none;
	font-size: 13px;
	border-radius: 5px 0 0 5px;
	padding: 5px 0 5px 10px;
}

.btn_search {
	border-radius: 0 5px 5px 0;
}


.table_rooms {
	font-size: medium;
}
.table_rooms th {
	padding: 5px 20px;
}

.rowRoom {
	height: 200px !important;
}

.formModal {
	height: 400px;
	overflow-y: auto;
}

.formModal #status {
	font-size: 18px;
}

.tool_notification {
	position: fixed;
    z-index: 2;
    padding: 10px 20px;
    font-size: 20px;
    min-width: 40rem;
    display: none;
    bottom: 0;
    right: 0;
    transition: all .2s linear;
    animation: slide-in-right;
    animation-duration: 1s;
    text-align: center;
}

.wrapper_management {
	position: relative;
}

/* ---------------------------------------SIDEBAR------------------------------------ */
#btnMenuAdmin {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display:grid;
	place-items:center;
	height:fit-content;
	background:	var(--blue-primary);
	margin:0;
	padding:0;
}

#btnMenuAdmin label{
	display:flex;
	flex-direction:column;
	width:40px;
	cursor:pointer;
	margin-bottom: 0;
}

#btnMenuAdmin label span{
	background: #fff;
	border-radius:10px;
	height:4px;
	margin: 4px 0;
	transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


.bar1{
	width:50%;
}

.bar2{
	width:100%;
}

.bar3{
	width:75%;
}


#btnMenuAdmin input[type="checkbox"]{
	display:none;
}


#btnMenuAdmin input[type="checkbox"]:checked ~ .bar1{
	transform-origin:bottom;
	transform:rotatez(45deg) translate(4px,0px)
}


#btnMenuAdmin input[type="checkbox"]:checked ~ .bar2{
	
	transform-origin:top;
	transform:rotatez(-45deg)
}


#btnMenuAdmin input[type="checkbox"]:checked ~ .bar3{
	
	transform-origin:bottom;
	width:50%;
	transform: translate(17px,-6px) rotatez(45deg);

}

.body_table {
	height: 60vh;
}

/* ------------------------------------------HISTORY----------------------------------------- */
.inputHistory {
	width: 30%;
	font-size: 15px;
}

.statusHistory {
	min-width: 125px;
	vertical-align: middle !important;
}

/* --------------------------------------------------------------------------------------------- */
/************************ Media ************************************/
@media (max-width: 850px) {
	.footerInput {
		width: 12rem;
	}

	.jumbotron {
		font-size: 1.3rem;
	}

	.titleCard {
		font-size: 1.6rem;
	}
	

	.main_card_content2 {
		padding-left: 5rem;
	}

	.contentCard {
		font-size: 1rem;
	}

	.main_card {
		width: 80vw;
		padding: 2rem 0;
	}
	.dropdown-content{
		left: 0;
	}
}

@media (max-width: 767px) {
	.navbarCollapse {
		width: 100%;
	}

    .backgroundColorToggle {
        background: rgba(35, 35, 35, 0.8); /* transparent pink */
		width: 100%;
    }

	button:focus {
		outline: none;
	}

	.card1 {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	.card2 {
		margin-bottom: 6rem;
	}

	/* ------ SIGN IN ------ */
	.form_signIn {
		padding: 4rem 6rem;
	}
}

@media (max-width: 500px) {
	.greeting{
		left: 1.6rem;
		margin-left: 2rem;
	}

	.greeting_content {
		font-size: medium;
	}

	.greeting_logo {
		font-size: 4rem;
	}

	.greeting_subLogo {
		font-size: 2.5rem;
	}

	.greeting_p {
		font-size: 1.3rem;
	}

	.contact {
		padding-left: 4rem;
	}

	.footerElement ul {
		padding-left: 4rem;
	}

	.main_card_content1 {
		padding-left: .5rem;
	}

	.main_card_content2 {
		padding-left: 1.5rem;
	}

	.contentCard {
		font-size: .6rem;
		width: 8rem;
	}

	.main_card {
		height: fit-content;
	}

	/* ------ SIGN IN ------ */
	.form_signIn {
		padding: 3rem 3rem;
	}
}

/* ------------------- */
/******************** Animation ************************************/
@keyframes loading {
	from { transform: rotate(0turn) }
	to { transform: rotate(1turn) }
}

@keyframes slide-in-right {
	0%   {opacity: 0; transform: translateX(150px);}
	25%  {opacity: .25;}
	50%  {opacity: .5;}
	75%  {opacity: .75;}
	100% {opacity: 1;}
}


@keyframes slide-in-left {
	0%   {opacity: 0; transform: translateX(-150px);}
	25%  {opacity: .25;}
	50%  {opacity: .5;}
	75%  {opacity: .75;}
	100% {opacity: 1;}
}

@keyframes slide-up-down {
	0%   {transform: translateY(-10px);}
	25%  {}
	50%  {transform: translateY(10px);}
	75%  {}
	100% {transform: translateY(-10px);}
}

@keyframes slide-top-to-bottom {
	0%   {opacity: 0; transform: translateY(-50px);}
	25%  {opacity: .25;}
	50%  {opacity: .5;}
	75%  {opacity: .75;}
	100% {opacity: 1;}
}

@keyframes skeleton-loading {
	0%   {background-color: hsl(200, 20%, 70%);}
	100% {background-color: hsl(200, 20%, 95%);}
}